<!DOCTYPE html>
<html>
<head>
<title>{% if title %}{{title}} - {% endif %}{{blog}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="feed.xml" rel="alternate" type="application/rss+xml" title="Blog" />
<style>
body {
    font-family: sans-serif;
    background-color: #fff;
    font-size: 16px;
}
h1, h2, h3, h4 {
    font-family: arial;
}
.container {
    max-width: 900px;
}
.footer {
    margin-top: 50px;
    font-size: 12px;
    text-align: center;
}
</style>
</head>
<body>
<div class="container">
    <div class="hero-unit faq">
        <div class="ac" style="text-align: center;">
            <h1>{{blog}}</h1>
            <a href="index.html">Home</a> &bull; <a href="about.html">About</a>  &bull; <a href="feed.xml">Feed</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
<div class="footer">
    <p class="text-muted">powered by <a href="https://github.com/botherder/habu">habu</a>.</p>
</div>
</body>
</html>
