<!DOCTYPE html>
<html>
<head>
<title>My Blog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
<link href="feed.xml" rel="alternate" type="application/rss+xml" title="Blog" />
<style>
body {
    font-family: Open Sans;
    background-color: #f3f3f3;
}
h1, h2, h3, h4 {
    font-family: Yanone Kaffeesatz;
}
.container {
    max-width: 780px;
}
.footer {
    margin-top: 50px;
    font-size: 11px;
    text-align: center;
}
</style>
</head>
<body>
<div class="container">
    <div class="hero-unit faq">
        <div class="ac" style="text-align: center;">
            <h1>My Blog</h1>
            <a href="index.html">Home</a> &bull; <a href="about.html">About</a>  &bull; <a href="feed.xml">Feed</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
<div class="footer">
    <p class="text-muted">powered by <a href="https://github.com/botherder/habu">habu</a>.</p>
</div>
</body>
</html>
